<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="email" class="form-control" id="name" [(ngModel)]="data.name">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="email" class="form-control" id="username" [(ngModel)]="data.username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="email" class="form-control" id="password" [(ngModel)]="data.password">
    </div>
    <div class="mb-3">
      <label for="url" class="form-label">URL</label>
      <input type="email" class="form-control" id="url" [(ngModel)]="data.url">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.close(null)">Close</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
  </div>
</div>
