<div class="row mb-3">
  <div class="col-12">
    <button class="btn btn-primary" type="button" (click)="openCreatePasswordCardForm()">
      Create new
      <i class="bi bi-plus"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-3" *ngFor="let passwordCard of passwordCards; index as i">
    <div class="card text-center">
      <div class="card-header">
        {{ passwordCard.name }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Username: {{ passwordCard.username }}</h5>
        <div class="card-text">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" [ngModel]="passwordCard.password" readonly>
            <button class="btn btn-outline-secondary"
                    type="button"
                    (click)="showPassword(passwordCard, i)">
              <i class="bi bi-eye-fill"></i>
            </button>
            <button class="btn btn-outline-secondary"
                    type="button"
                    (click)="copyToClipboard(passwordCard)">
              <i class="bi bi-clipboard-fill"></i>
            </button>
          </div>

        </div>
        <a href="{{passwordCard.url}}" target="_blank">Go to page</a>
      </div>
      <div class="card-footer text-muted">
        <div class="row justify-content-end">
          <div class="col-7">
            <div class="btn-group float-end">
              <button type="button" class="btn btn-outline-primary" (click)="openUpdatePasswordCardForm(passwordCard)"><i class="bi bi-pencil-fill"></i></button>
              <button type="button" class="btn btn-outline-primary" (click)="deletePasswordCardForm(passwordCard)"><i class="bi bi-trash-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
